//VARIABLES//
$special : 'Special Elite', cursive;

//END VARAIBLES//


//MIXINS//
@mixin shadow($a, $b, $c, $d){
    -webkit-filter: drop-shadow( $a $b $c $d );
            filter: drop-shadow( $a $b $c $d );
}

@mixin cover(){
width: 100%;
height: 100%;
}

// END MIXINS//



// SCSS //


//VIDEO//
#video-wrap{
		width: 100%;
		overflow: hidden;
		top: 0;
			
			h1 {
				font-family: $special;
                color: white;
				}

            video {
                width: 100%;
                box-sizing: border-box;
                z-index: 1 !important;
            }

}
//END VIDEO//


//CONTENT//
.content{
position: absolute;
top: 60px;
@include cover
}
.logo{
width: 100%;
max-width: 40%;	
}
//END CONTENT//

//CRACKED TEXTURE//
.paperdown, .paperupheader{
height: 50px;
background-repeat: repeat-x;
width: 100%;
}
.paperdown{
background-image: url("../images/darktexturerepeatingdown.png");
position: absolute; 	
}
.paperupheader{
background-image: url("../images/darktexturerepeating.png");
/*height of image*/
bottom: 50px;
position: relative;
z-index: 99; 	
}
//END CRACKED TEXTURE//

//SHADOWS//
.shadow { @include shadow(5px, 5px, 5px, #000) }
.shadowpaperdown { @include shadow( 5px, 5px, 5px, rgba(0, 0, 0, 0.5) ); }
.shadowpaperup { @include shadow( 0px, -10px, 5px, rgba(0, 0, 0, 0.5) ); }
//END SHADOWS//



// END SCSS //


//MEDIA QUERIES//
@media screen and (max-width: 840px) {
  .linkedbutton {
    height: 30px;
  }
  h1{
    font-size: 20px;
    margin: -10px 0 0 0;
  }
  .content{
    margin: -30px 0 0 0;
  }
}


