video {
    width: 100%;
    box-sizing: border-box;
    z-index: 1 !important;
}
#video-wrap{
		width: 100%;
		overflow: hidden;
		top: 0;
}

.content{
position: absolute;
top: 60px;
width: 100%;
}
.logo{
width: 40%;	
}
.paperdown, .paperupheader{
height: 50px;
background-repeat: repeat-x;
width: 100%;
}

.paperdown{
background-image: url("../images/tornpaperdown.png");
position: absolute; 	
}
.paperupheader{
background-image: url("../images/tornpaperup.png");
/*height of image*/
bottom: 50px;
position: relative;
z-index: 99; 	
}

.shadow {
    -webkit-filter: drop-shadow( 5px 5px 5px #000 );
            filter: drop-shadow( 5px 5px 5px #000 ); /* Same syntax as box-shadow */
}
