<div class="paperup"></div>
	<div class="black-container">
		<div class="container">
			<center>
				<h1>Enter to win a Prize Pack from The Word Alive</h1>
				<h3>All entries entered to win the Grand Prize!</h3>
			</center>
		<br>
		<div class="row">
			<div class="col-md-6">
				<center>
					<div id="overflow-hider">
						<div id="fangate-iframe-container"></div>
							<script src="https://www.myfangate.com/ci/script/autoiframe/container?container=fangate-iframe-container&src=https://www.myfangate.com/ci/tab/data/1808?framed"></script>
						</div>
				</center>
			</div>
			<div class="col-md-6">
				<center>
					<img class="prizing" src="holder.js/375x300">
						</div>
				</center>
			</div>
		</div>
	</div>
</div>
<div class="paperdown2"></div>
