<div class="paperup"></div>
<div class="black-container">
	<center>
	<h1>Enter to win a Prize Pack from <img style="max-height: 50px;" src="http://0.0.0.0:4567/images/wordalivelogo.svg"></h1>
	<h3>All entries entered to win the Grand Prize!</h3>
</center>
</div>
<div class="paperdown2"></div>