<div class="paperdown"></div>
<div id="video-wrap">
    <video autoplay loop poster="polina.jpg">
        <source src="video/ajr.mp4" type="video/mp4"/>
    </video>    
<div class="paperupheader"></div>
</div>

