<div class="paperdown shadowpaperdown"></div>

<div id="video-wrap">
	<video autoplay loop poster="polina.jpg">
  		<source src="video/wordalive.mp4" type="video/mp4"/>
  	</video> 
	<div class="content">
   		<center>
   			<img class="img-responsive shadow logo" src="images/wordalivelogo.svg">
   			<h1 style="margin-top: -20px;color: #fff;" class="shadow">New Single Out NOW!</h1>
   			<img class="img-responsive animate pulse2 shadow" src="https://s3.amazonaws.com/myfangate.com/dtf/preorderbutton.png">
   		</center>
	</div>
	<div class="paperupheader shadowpaperup"></div>
</div>
