<div class="paperdown"></div>
<div id="video-wrap">
    <video autoplay loop poster="polina.jpg">
        <source src="video/ajr.mp4" type="video/mp4"/>
    </video>    
		<div class="headertext">
			<center>
  		<img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/05/vydialogoWHITE.png">
			</center>
		</div>
</div>
<div class="paperupheader"></div>

