<div class="paperdown"></div>

<div id="video-wrap">
	<video autoplay loop poster="polina.jpg">
  	<source src="video/wordalive.mp4" type="video/mp4"/>
  </video> 
<div class="content">
   	<center>
   	<img class="img-responsive shadow"src="images/wordalivelogo.svg">
   </center>
</div>
<div class="paperupheader"></div>
</div>
