<footer>
	<div id="footerwrap">
		<div class="socials">

			<!--FACEBOOK -->
			<a href="#">
				<i class="fa fa-facebook-square"></i>
			</a>

			<!-- TWITTER -->
			<a href="#">
				<i class="fa fa-twitter-square"></i>
			</a>

			<!-- INSTAGRAM -->
			<a href="#">
				<i class="fa fa-instagram"></i>
			</a>

		</div>
	</div>
</footer>