		<footer>
			<p>This <strong>HTML5 CSS Sticky Footer</strong> simply stays put.</p>
			<p class="copyright">Copyright &copy; 2014 Ryan Fait &mdash; <a href="http://ryanfait.com/" title="Las Vegas Web Design">Las Vegas Web Design</a></p>
		</footer>